/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */
.form-container {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	width: 270px;
	margin: auto;
	display: grid;
	grid-gap: 10px;
	grid-template-areas: "aside aside" "form form" "save share";
	grid-template-rows: 1fr 4fr 1fr;
	grid-template-columns: 1fr 1fr;
}

aside {
	grid-area: aside;
	display: flex;
	background-color: #424242;
	color: #fff;
	text-align: center;
	justify-content: center;
	border-radius: 3px;
}

aside div {
	align-self: center;
}

aside div span {
	font-weight: bold;
}

form {
	grid-area: form;
	border: 2px solid #eaeaea;
	display: grid;
	grid-gap: 10px;
	grid-template-areas: "progress progress" "section section" "input submit" "link empty";
	grid-template-rows: 15px 2fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}

progress {
	grid-area: progress;
}

section {
	grid-area: section;
}

.donation{
	grid-area: input;
	display:inline-block;
	position: relative;
	}
.donation input{
	padding-left:15px;
	}
.donation:before {
	position: absolute;
    content:"$";
    left:5px;
	top:2px;
 	}

button[type=submit] {
	grid-area: submit;
}

em {
	grid-area: link;
}

button[name=save] {
	grid-area: save;
}

button[name=share] {
	grid-area: share;
}
